################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Desafio_1.slnx/FileContentIndex
/Desafio_1.Core/obj
/Desafio_1.Infra/obj
