################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Desafio_1.slnx/FileContentIndex
/Desafio_1.Core/obj
/Desafio_1.Infra/obj
/.vs/Desafio_1/CopilotIndices/18.4.114.215
/.vs/CopilotSnapshots/FA1CAF669D76D342AD3567EB6E0B91A7/BE5C5893CFB8B547B661F56329C09FAB
/.vs/Desafio_1.slnx/copilot-chat/28cc7945/sessions
/Desafio_1.Ai/obj
